<footer class="main-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
            {% include 'components/_footer_contact_details.html' %}
        </div>
        <div class="col-md-4">
            {% include 'components/_footer_menu.html' %}
            
        </div>
        <div class="col-md-4">
          {% include 'components/_footer_latest_posts.html' %}
      </div>
    </div>
    <div class="copyrights">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p>&copy; 2022. All rights reserved. Your great site.</p>
          </div>
          <div class="col-md-6 text-right">
            <p>Developed By <a href="https://t.me/khasanovmma" class="text-white">khasanovmma</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>