<div class="menus d-flex">
    <ul class="list-unstyled">
      <li> <a href="{% if request.user.is_authenticated %}{% url 'profile' request.user.username %}{% else %}{% url 'login' %}{% endif %}">My Account</a></li>
      <li> <a href="#">Add Listing</a></li>
      <li> <a href="#">Pricing</a></li>
      <li> <a href="#">Privacy &amp; Policy</a></li>
    </ul>
    <ul class="list-unstyled">
      <li> <a href="#">Our Partners</a></li>
      <li> <a href="#">FAQ</a></li>
      <li> <a href="#">How It Works</a></li>
      <li> <a href="#">Contact</a></li>
    </ul>
  </div>