{% load website_tags %}
<div id="navbarcollapse" class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a href="{% url 'home' %}" class="nav-link active">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"
               href="#"
               id="navbarDropdown"
               role="button"
               data-toggle="dropdown"
               aria-expanded="false">
                Category
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% get_category as categories %}
                {% for category in categories %}
                    <a class="dropdown-item border-0"
                       href="{{ category.get_absolute_url }}">{{ category }}</a>
                {% endfor %}
            </div>
        </li>
        <li class="nav-item">
            <a href="{% url 'add_post' %}" class="nav-link">Add post</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">Contact</a>
        </li>
    </ul>
    <div class="navbar-text">
        <a href="#" class="search-btn" style="margin-left: 20px;
        margin-right: 20px;
        padding-left: 20px;
        padding-right: 20px;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        height: 20px;
        line-height: 20px;"><i class="icon-search-1"></i></a>
    </div>
    <ul class="navbar-text navbar-nav unstyled py-0">
        {% if not request.user.is_authenticated %}
            <li class="nav-item">
                <a href="{% url 'login' %}" class="text-dark">
                    <i class="fa fa-user-circle mr-1"
                       aria-hidden="true"
                       style="font-size: 16px;"></i>
                    Login
                </a>
            </li>
        {% else %}
            {% user_profile request as user_page %}
            <li class="nav-item dropdown">
                <a class="text-dark dropdown-toggle"
                   href="#"
                   id="navbarDropdown"
                   role="button"
                   data-toggle="dropdown"
                   aria-expanded="false">
                    <img src="{{ user_page.image_url }}"
                         alt="avatar"
                         class="rounded-circle img-fluid mr-2"
                         style="width: 16px;
                                height: 16px;">
                    {{ request.user.username }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    
                    <a class="dropdown-item border-0"
                       href="{% url 'profile' request.user.username %}">Profile</a>
                    <a class="dropdown-item border-0" href="{% url 'edit_account' %}">Change account</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item border-0 text-danger" href="{% url 'logout' %}">Logout</a>
                </div>
            </li>
        {% endif %}
    </ul>
</div>
