<div id="navbarcollapse" class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item"><a href="{% url 'home' %}" class="nav-link active">Home</a>
      </li>
      <li class="nav-item"><a href="{% url 'blog' %}" class="nav-link">Blog</a>
      </li>
      <li class="nav-item"><a href="{% url 'post' %}" class="nav-link">Post</a>
      </li>
      <li class="nav-item"><a href="#" class="nav-link">Contact</a>
      </li>
    </ul>
    <div class="navbar-text"><a href="#" class="search-btn"><i class="icon-search-1"></i></a></div>
    <ul class="langs navbar-text navbar-nav">
      {% if not request.user.is_authenticated %}
      <li class="nav-item">
        <a href="{% url 'login' %}" class="active">
        <i class="fa fa-user-circle mr-1" aria-hidden="true" style="font-size: 16px;"></i>
        {{ request.user.username }}
      </a>
    </li>
      {% else %}
      <li class="nav-item dropdown">
        <a class="active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
          <i class="fa fa-user-circle mr-1" aria-hidden="true" style="font-size: 16px;"></i>
          {{ request.user.username }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item border-0 m-1" href="#">Profile</a>
          <a class="dropdown-item border-0" href="{% url 'edit_profile' %}">Change profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item border-0 text-danger" href="{% url 'logout' %}">Logout</a>
        </div>
      </li>
      {% endif %}
    </ul>
    
  </div>