{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}
Login
{% endblock title %}

{% block links %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
{% endblock links %}

{% block main %}
{% if request.user.is_authenticated %}
    <meta http-equiv="REFRESH" content="0;url={% url 'home' %}">
{% endif %}
<section class="">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid"
          alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        {% comment %} {% if form.errors %}was-validated{% endif%} {% endcomment %}
        <form class="needs-validation" method="POST">
          {% csrf_token %}
          
            {% for field, errors in form.errors.items %}
              {% for error in errors %}
                <div class="alert alert-danger" role="alert">
                  {{ error }}
                </div>
              {% endfor %}
            {% endfor %}
          
          {% include 'components/_messages.html' %}
          
          <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
            <p class="lead fw-normal mb-0 me-3">Sign in with</p>
            <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-primary btn-floating mx-1" style="border-radius: 25% !important;">
              <i class="fa fa-facebook-square" aria-hidden="true"></i>
            </a>

            <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-primary btn-floating mx-1" style="border-radius: 25% !important;">
              <i class="fa fa-google" aria-hidden="true"></i>
            </a>

            <a href="{% url 'social:begin' 'github' %}" class="btn btn-primary btn-floating mx-1" style="border-radius: 25% !important;">
              <i class="fa fa-github" aria-hidden="true"></i>
            </a>
          </div>
          <hr class="my-2">
          <p class="text-center fw-bold mb-0">Or</p>
          <hr class="my-2">
          <!-- Email input -->
          <div class="form-floating mb-4">
            {% render_field form.username class="form-control form-control-lg" placeholder="Enter Username"  %}
            <label class="form-label" for="{{ form.username.id_for_lable }}">Username</label>
          </div>

          
          <!-- Password input -->
          <div class="form-floating mb-3">
            {% render_field form.password class="form-control form-control-lg" placeholder="Enter Password"  %}
            <label class="form-label" for="{{ form.password.id_for_lable }}">Password</label>
          </div>
       

          <div class="d-flex justify-content-between align-items-center">
            <!-- Checkbox -->
            <div class="form-check mb-0">
              <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
              <label class="form-check-label" for="form2Example3">
                Remember me
              </label>
            </div>
            <a href="{% url 'reset_password' %}" class="text-body">Forgot password?</a>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
            <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="{% url 'register' %}" class="link-danger">Register</a>
            </p>
          </div>

        </form>
      </div>
    </div>
  </div>

</section>
{% endblock main %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
  integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
  integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
{% endblock scripts %}